<app-header></app-header>
<app-logout></app-logout>
<section>
    <div id="overlay" (click)="closeAllModals()"></div>
    <div class="modal-register-sale">
        <form [formGroup]="registerSaleForm" (ngSubmit)="addProduct()">
            <div class="form-group">
                <label for="cliente">Cliente:</label>
                <select id="cliente" class="form-control" formControlName="inputSelectedCliente" required>
                    @for(cliente of costumers; track cliente) {
                        <option [value]="cliente.id">{{ cliente.name }}</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="select-product">Produto:</label>
                <select id="select-product" class="form-control" formControlName="inputSelectedProduct" required>
                    @for(produto of produtosDisponiveis; track produto) {
                        <option [value]="produto.id">{{ produto.nome }}</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantidade:</label>
                <input type="number" id="quantity" class="form-control" formControlName="inputSelectedQuantity" min="1" value="1">
            </div>
            <button type="submit" class="btn-filled">Adicionar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Qtd.</th>
                    <th>Preço Uni.</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @for(produto of produtosAdicionados; track produto) {
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.precoUnitario}} Euros</td>
                        <td>{{ produto.quantidade * produto.precoUnitario}} Euros</td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn-filled" (click)="registerSale()">Registar venda</button>
    </div>
    <div class="modal-redeem-prize">
        <form (ngSubmit)="redeemPrize()">
            <div class="form-group">
                <label for="customer">Cliente:</label>
                <input type="text" id="costumer" class="form-control" required>
                <small>Saldo do cliente: <span>12 pts</span></small>
            </div>
            <div class="form-group">
                <label for="prize">Prémio:</label>
                <select id="prize" class="form-control">
                    <option value="prize1">Prémio 1 (7 pts)</option>
                    <option value="prize2">Prémio 2 (12 pts)</option>
                    <option value="prize3">Prémio 3 (14 pts)</option>
                </select>
            </div>
            <button type="submit" class="btn-filled">Resgatar</button>
        </form>
    </div>
    <div class="modal-register-stock-entry">
        <form [formGroup]="registerStockEntryForm" (ngSubmit)="registerStockEntry()">
            <div class="form-group">
                <label for="product">Produto:</label>
                <input type="text" id="product" class="form-control" formControlName="inputProduct" required>
            </div>
            <div class="form-group">
                <label for="quantity-stock">Quantidade:</label>
                <input type="number" id="quantity-stock" class="form-control" formControlName="inputQuantity" min="1" value="1">
            </div>
            <div class="form-group">
                <label for="unit-price">Preço unitário:</label>
                <input type="number" id="unit-price" class="form-control" formControlName="inputUnityPrice" min="1" value="1">
            </div>
            <button type="submit" class="btn-filled">Registar entrada</button>
        </form>
    </div>
    <h3>Painel do operador</h3>
    <div class="buttons">
        <button class="btn" (click)="openRegisterSaleModal()" id="btn-register-sale">Registar uma venda</button>
        <button class="btn" (click)="openRedeemPrizeModal()" id="btn-redeem-prize">Resgatar prémio</button>
        <button class="btn" (click)="openRegisterStockEntryModal()" id="btn-register-stock-entry">Registar entrada no stock</button>
    </div>
</section>