<app-header></app-header>
<app-logout></app-logout>
<section>
    <div id="overlay" (click)="closeScheduleServiceModal()"></div>
    <div class="modal-schedule-service">
        <form [formGroup]="scheduleServiceForm" (ngSubmit)="scheduleService()">
            <div class="form-group">
                <label for="servico"></label>
                <select formControlName="inputServico" id="servico" class="form-control">
                    <option value="" disabled selected>Selecione o serviço</option>
                    @for(servico of servicos; track servico) {
                        <option [value]="servico">{{ servico }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="inDate">Data:</label>
                <input type="date" class="form-control" id="inDate" formControlName="inputDate"/>
            </div>

            <div class="form-group">
                <label for="inTime">Time:</label>
                <input type="time" class="form-control" id="inTime" formControlName="inputTime"/>
            </div>

            <button class="btn-filled" type="submit">Agendar Serviço</button>
        </form>
    </div>
    <h3>Olá, Divaldo Dias</h3>
    <div class="buttons">
        <button class="btn" (click)="openScheduleServiceModal()">Agendar um serviço</button>
    </div>
    <table class="tabela-servicos">
        <thead>
            <tr>
                <th>Serviços agendados</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Funcionário</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for(agendamento of agendamentos; track agendamento){
                <tr>
                    <td>{{ agendamento.tipoServico }}</td>
                    <td>{{ agendamento.cliente.name }}</td>
                    <td>{{ agendamento.dataPrevista }}</td>
                    <td>{{ agendamento.funcionarioServico || "null" }}</td>
                    <td>
                        <button class="btn" [class]="agendamento.status === 'Não Iniciado' ? 'btn-info' : (agendamento.status === 'Em execução' ? 'btn-success' : 'btn-danger')">
                            {{ agendamento.status }}
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="tabela-movimentos-cartao">
        <thead>
            <tr>
                <th>Movimentos do cartão fidelidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Acumulou 3 pontos</td>
                <td>05/06/2025</td>
            </tr>
            <tr>
                <td>Acumulou 10 pontos</td>
                <td>02/06/2025</td>
            </tr>
            <tr>
                <td>Acumulou 3 pontos</td>
                <td>05/06/2025</td>
            </tr>
        </tbody>
    </table>
</section>