section {
    width: 100%;
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
    height: 92vh;

    position: relative;

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        display: none;
    }

    .modal-schedule-service {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        background-color: #fff;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 2;

        form {
            display: flex;
            flex-direction: column;
            gap: 14px;

            label {
                font-weight: bold;
                color: #35c7c3;
            }

            input[type="time"],
            input[type="date"],
            select {
                color: #35c7c3;
                border: 2px solid #1cc4cc;
                border-radius: 12px;
                padding: 10px 12px;
                font-size: 14px;
                outline: none;
            }

            input[type="date"]::-webkit-calendar-picker-indicator,
            input[type="time"]::-webkit-calendar-picker-indicator {
                filter: invert(64%) sepia(55%) saturate(489%) hue-rotate(130deg) brightness(95%) contrast(94%);
                cursor: pointer;
            }


            .btn,
            button {
                background-color: #1cc4cc;
                color: white;
                font-weight: bold;
                border: none;
                padding: 12px;
                border-radius: 12px;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background-color: #19b2b8;
                }
            }

            select {
                width: 100%;
                appearance: none;
                background-image: url('data:image/svg+xml;utf8,<svg fill="%231cc4cc" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: 16px;
            }
        }
    }

    h3 {
        color: #35c7c3;
        font-weight: bold;
    }

    .buttons {
        width: 20%;

        .btn {
            width: 100%;
            background-color: #35c7c3;
            color: #fff;
            border: none;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        color: #35c7c3;

        th,
        td {
            text-align: left;
            padding: 12px 8px;
            border-bottom: 2px solid #35c7c3;
        }

        th {
            font-weight: bold;
        }



        td:last-child,
        th:last-child {
            text-align: center;
            width: 40px;
        }

        i.bi-pencil-fill {
            cursor: pointer;
            color: #35c7c3;
            transition: color 0.2s;

            &:hover {
                color: #000;
            }
        }
    }

    .tabela-movimentos-cartao {

        td:first-child,
        th:first-child {
            width: 95%;
        }
    }
}