<app-header></app-header>
<app-logout></app-logout>
<section>
    <div id="overlay" (click)="closeModal()"></div>
    <div class="modal-add-user">
        <form [formGroup]="userRegisterForm">
            <div class="form-group">
                <label for="inName">Nome:</label>
                <input type="text" class="form-control" formControlName="inputName" id="inName">
            </div>
            <div class="form-group">
                <label for="inEmail">Email:</label>
                <input type="email" class="form-control" formControlName="inputEmail" id="inEmail">
            </div>
            <div class="form-group">
                <label for="inUsername">Username:</label>
                <input type="text" class="form-control" formControlName="inputUsername" id="inUsername">
            </div>
            <div class="form-group">
                <label for="inPassword">Password:</label>
                <input type="password" class="form-control" formControlName="inputPassword" id="inPassword">
            </div>
            @if(userRegisterForm.get('inputPassword')?.touched && userRegisterForm.get('inputPassword')?.errors) {
                @if(userRegisterForm.get('inputPassword')?.errors?.['required']) {
                    <span style="color: red;">*Senha é obrigatória. <br></span>
                }
                @if(userRegisterForm.get('inputPassword')?.errors?.['minlength']){
                    <span style="color: red;">*Senha deve ter pelo menos 8 caracteres. <br></span>
                }
                @if(userRegisterForm.get('inputPassword')?.errors?.['pattern']){
                    <span style="color: red;">*Senha deve conter letras maiúsculas,minúsculas, números e caracteres especiais. <br></span>
                }
            }
            <div class="form-group">
                <label for="inRole">Role:</label>
                <select name="role" id="inRole" class="form-control" formControlName="inputRole">
                    @for(role of roles; track role){
                    <option [value]="role">{{role}}</option>
                    }
                </select>
            </div>
            <button class="btn btn-success" (click)="registerUser()">Registar Utilizador</button>
        </form>
    </div>
    <h3>Painel de controle do administrador</h3>
    <div class="buttons">
        <button class="btn" (click)="openModal()">Registar novo utilizador</button>
    </div>
    <table class="tabela-clientes">
        <thead>
            <tr>
                <th>Clientes</th>
                <th>Id Cartão</th>
                <th>Pontos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(cliente of clientes; track cliente){
            <tr>
                <td>{{cliente.name}}</td>
                <td>{{cliente.idCartao}}</td>
                <td>{{cliente.pontos}}</td>
                <td><i class="bi bi-pencil-fill"></i></td>
            </tr>
            }
        </tbody>
    </table>
    <table class="tabela-funcionarios">
        <thead>
            <tr>
                <th>Funcionários</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (funcionario of funcionarios; track funcionario) {
            <tr>
                <td>{{funcionario.name}}</td>
                <td>
                    <select name="" id="">
                        @for(role of roles; track role){
                        @if(funcionario.role === role){
                        <option [value]="role" selected>{{role}}</option>
                        } @else {
                        <option [value]="role">{{role}}</option>
                        }
                        }
                    </select>
                </td>
                <td><i class="bi bi-pencil-fill"></i></td>
            </tr>
            }
        </tbody>
    </table>
</section>