<app-header></app-header>
<app-logout></app-logout>
<section>
    <h3>Painel do gerente</h3>
    <table>
        <thead>
            <tr>
                <th>Notificações</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nova venda registrada</td>
                <td>12h</td>
            </tr>
            <tr>
                <td>Prémio resgatado por cliente</td>
                <td>15h</td>
            </tr>
            <tr>
                <td>Entrada de stock registada</td>
                <td>23h</td>
            </tr>
    </table>
</section>