<app-header></app-header>
<section>
    <h3>Painel do funcionário de serviços</h3>

    <div class="scheduled-services">
        <h5>Serviços agendados</h5>
        <div class="service">
            <span>Divaldo Dias</span>
            <button class="btn-filled">Iniciar execução</button>
        </div>
        <div class="service">
            <span>Divaldo Dias</span>
            <button class="btn-filled">Iniciar execução</button>
        </div>
        <div class="service">
            <span>Divaldo Dias</span>
            <button class="btn-filled">Iniciar execução</button>
        </div>
    </div>
</section>